<!-- ======= Contact Section ======= -->
<div id="contact" class="paddsection">
  <div class="container">
    <div class="contact-block1">
      <div class="row">

        <div class="col-lg-6">
          <div class="contact-contact">

            <h2 class="mb-30">GET IN TOUCH</h2>

            <ul class="contact-details">
              <li><span>{{contact.address.street}}</span></li>
              <li><span>{{contact.address.location}}</span></li>
              <li>
                <a href="tel:{{contact.phone.split(' ').join('')}}">
                  <span>{{contact.phone}}</span>
                </a>
              </li>
              <li>
                <a href="mailto:{{contact.email}}">
                  <span>{{contact.email}}</span>
                </a>
              </li>
            </ul>

          </div>
        </div>

        <div class="col-lg-6">
          <form [formGroup]="contactForm" (submit)="sendContactMessage()" role="form" class="php-email-form">
            <div class="row gy-3">

              <div class="col-lg-6">
                <div class="form-group contact-block1">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" [formControlName]="'name'">
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" [formControlName]="'email'">
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" [formControlName]="'subject'">
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <textarea class="form-control" name="message" placeholder="Message" [formControlName]="'message'"></textarea>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>

              <div class="mt-0">
                <button [disabled]="!contactForm.valid" type="submit" class="btn btn-defeault btn-send">Send message</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div><!-- End Contact Section -->
