<!-- ======= Blog Single ======= -->
<div class="main-content paddsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="container-main single-main">
            <div class="col-md-12">
              <div class="block-main mb-30">
                <img alt="reviews2" class="img-responsive" src="assets/img/blog-post-big.jpg">
                <div class="content-main single-post padDiv">
                  <div class="journal-txt">
                    <h4><a href="#">{{post.title | uppercase}}</a></h4>
                  </div>
                  <div class="post-meta">
                    <ul class="list-unstyled mb-0">
                      <li class="author">by:<a href="#">elroykanye</a></li>
                      <li class="date">date:<a href="#">{{post.createdAt}}</a></li>
                      <li class="commont"><i class="ion-ios-heart-outline"></i><a href="#">{{post.numberOfComments}}
                        Comments</a></li>
                    </ul>
                  </div>

                  <div *ngFor="let section of post.sections">
                    <p *ngIf="section.sectionType.toString() === 'PARAGRAPH'" class="mb-30">
                      {{section.content}}
                    </p>
                    <blockquote *ngIf="section.sectionType.toString() === 'BLOCKQUOTE'">
                      {{section.content}}
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>

            <!-- below posts -->
            <div class="col-md-12">
              <div class="comments text-left padDiv mb-30">
                <div class="entry-comments">
                  <h6 class="mb-30">{{post.numberOfComments}} comments</h6>
                  <ul class="entry-comments-list list-unstyled">
                    <li *ngFor="let comment of comments">
                      <div class="entry-comments-item">
                        <!-- TODO add a default avatar image here -->
                        <!--<img alt="" class="entry-comments-avatar" src="assets/img/avatar.jpg">-->
                        <div class="entry-comments-body">
                          <span class="entry-comments-author">{{comment.authorName}}</span>
                          <span><a href="#">{{comment.createdAt}}</a></span>
                          <p class="mb-10">
                            {{comment.content}}
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="cmt padDiv">
                <form (submit)="addCommentAction()" [formGroup]="commentForm" id="comment-form" role="form">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input [formControlName]="'name'" class="form-control" name="name" placeholder="Name *"
                               type="text">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input [formControlName]="'email'" class="form-control" name="email" placeholder="email *"
                               type="email">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input [formControlName]="'website'" class="form-control" name="website" placeholder="Website"
                               type="text">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <textarea [formControlName]="'content'" class="form-control" name="message"
                                  placeholder="Message *" style="height: 200px;"></textarea>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <input [disabled]="!commentForm.valid" class="btn btn-defeault btn-send" type="submit"
                             value="Add Comment">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- End Blog Single -->
