<!-- ======= Header ======= -->
<app-ek-header></app-ek-header>
<!-- ======= Hero Section ======= -->
<div id="hero" class="home">

  <div class="container">
    <div class="hero-content">
      <h1>I'm
        <ngx-typed-js
          [strings]="['Elroy Kanye', 'Developer', 'Designer', 'Engineer', 'Furiously Typing']"
          [smartBackspace]="true" [loop]="true" [typeSpeed]="64" [shuffle]="true" [backSpeed]="32">
          <span class="typing"></span>
        </ngx-typed-js>
      </h1>
      <p>Developer, Designer, Engineer</p>

      <ul class="list-unstyled list-social">
        <li *ngFor="let social of socials">
          <a [href]="social.link">
            <i [class]="social.icon"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<main id="main">

  <router-outlet></router-outlet>

</main><!-- End #main -->

<app-ek-footer></app-ek-footer>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>

